You are supposed to detect whether the person is running or walking based on the sensor data collected from iOS device. The dataset contains a single file which represents sensor data samples collected from accelerometer and gyroscope from iPhone 5c in 10 seconds interval and ~5.4/second frequency.

Objective: Practice classification based on Naive Bayes algorithm. Identify the predictors that can be influential.

Actions to Perform:

Load the kinematics dataset as measured on mobile sensors from the file “run_or_walk.csv.”

List the columns in the dataset.

Let the target variable “y” be the activity, and assign all the columns after it to “x.”

Using Scikit-learn, fit a Gaussian Naive Bayes model and observe the accuracy.

Generate a classification report using Scikit-learn.

Repeat the model once using only the acceleration values as predictors and then using only the gyro values as predictors.

Comment on the difference in accuracy between both models.

In [2]:
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings('ignore')

In [4]:
df= pd.read_csv("C:\\Users\\shiva\\Downloads\\Lesson end project 6\\Lesson 6\\run_or_walk.csv")
df.head(10)

,date,time,username,wrist,activity,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z
0,2017-6-30,13:51:15:847724020,viktor,0,0,0.2650,-0.7814,-0.0076,-0.0590,0.0325,-2.9296
1,2017-6-30,13:51:16:246945023,viktor,0,0,0.6722,-1.1233,-0.2344,-0.1757,0.0208,0.1269
2,2017-6-30,13:51:16:446233987,viktor,0,0,0.4399,-1.4817,0.0722,-0.9105,0.1063,-2.4367
3,2017-6-30,13:51:16:646117985,viktor,0,0,0.3031,-0.8125,0.0888,0.1199,-0.4099,-2.9336
4,2017-6-30,13:51:16:846738994,viktor,0,0,0.4814,-0.9312,0.0359,0.0527,0.4379,2.4922
5,2017-6-30,13:51:17:46806991,viktor,0,0,0.4044,-0.8056,-0.0956,0.6925,-0.2179,2.5750
6,2017-6-30,13:51:17:246767997,viktor,0,0,0.6320,-1.1290,-0.2982,0.0548,-0.1896,0.4473
7,2017-6-30,13:51:17:446569025,viktor,0,0,0.6670,-1.3503,-0.0880,-0.8094,-0.7938,-1.4348
8,2017-6-30,13:51:17:646152973,viktor,0,0,0.2704,-0.8633,0.1293,-0.4173,-0.1904,-2.6759
9,2017-6-30,13:51:17:846502006,viktor,0,0,0.4690,-1.0740,0.0219,0.0388,1.1491,1.6982

In [6]:
print(df.columns)

Index(['date', 'time', 'username', 'wrist', 'activity', 'acceleration_x',
       'acceleration_y', 'acceleration_z', 'gyro_x', 'gyro_y', 'gyro_z'],
      dtype='object')

In [11]:
y= df['activity']
X= df.iloc[:,5:]

In [12]:
X.head()

   acceleration_x  acceleration_y  acceleration_z  gyro_x  gyro_y  gyro_z
0          0.2650         -0.7814         -0.0076 -0.0590  0.0325 -2.9296
1          0.6722         -1.1233         -0.2344 -0.1757  0.0208  0.1269
2          0.4399         -1.4817          0.0722 -0.9105  0.1063 -2.4367
3          0.3031         -0.8125          0.0888  0.1199 -0.4099 -2.9336
4          0.4814         -0.9312          0.0359  0.0527  0.4379  2.4922

In [13]:
X.shape

(88588, 6)

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size= 0.2, random_state= 1)

In [17]:
from sklearn.naive_bayes import GaussianNB 
from sklearn.metrics import accuracy_score

In [18]:
gnb= GaussianNB()
gnb.fit(X_train, y_train)
y_predict= gnb.predict(X_test)

In [19]:
print(accuracy_score(y_test, y_predict))

0.9554690145614629

In [20]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_predict,y_test))

[[8583  699]
 [  90 8346]]

In [27]:
from sklearn.metrics import classification_report
target_names= ['walk', 'run']
print(classification_report(y_test, y_predict, target_names= target_names))

              precision    recall  f1-score   support

        walk       0.92      0.99      0.96      8673
         run       0.99      0.92      0.95      9045

    accuracy                           0.96     17718
   macro avg       0.96      0.96      0.96     17718
weighted avg       0.96      0.96      0.96     17718

In [28]:
from sklearn.model_selection import train_test_split
X, y = df.iloc[:, [5,6,7]].values,df.iloc[:, 4].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [30]:
gnb.fit(X_train,y_train)
y_predict = gnb.predict(X_test)
accuracy_score(y_predict,y_test)

0.9565978101365843

In [31]:
print(confusion_matrix(y_predict,y_test))

[[8610  706]
 [  63 8339]]