In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv('C:\\Users\\shiva\\Downloads\\sales.csv', delimiter = ',')

In [3]:
df.shape

(23, 5)

In [4]:
# gives first 5 datasets
df.head()

   Market           Region  No_of_Orders      Profit      Sales
0  Africa   Western Africa           251  -12,901.51  78,476.06
1  Africa  Southern Africa            85   11,768.58  51,319.50
2  Africa     North Africa           182   21,643.08  86,698.89
3  Africa   Eastern Africa           110    8,013.04  44,182.60
4  Africa   Central Africa           103   15,606.30  61,689.99

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Market        23 non-null     object
 1   Region        23 non-null     object
 2   No_of_Orders  23 non-null     int64
 3   Profit        23 non-null     object
 4   Sales         23 non-null     object
dtypes: int64(1), object(4)
memory usage: 1.0+ KB

In [6]:
df.head(10)

         Market             Region  No_of_Orders      Profit        Sales
0        Africa     Western Africa           251  -12,901.51    78,476.06
1        Africa    Southern Africa            85   11,768.58    51,319.50
2        Africa       North Africa           182   21,643.08    86,698.89
3        Africa     Eastern Africa           110    8,013.04    44,182.60
4        Africa     Central Africa           103   15,606.30    61,689.99
5  Asia Pacific       Western Asia           382  -16,766.90  1,24,312.24
6  Asia Pacific      Southern Asia           469   67,998.76  3,51,806.60
7  Asia Pacific  Southeastern Asia           533   20,948.84  3,29,751.38
8  Asia Pacific            Oceania           646   54,734.02  4,08,002.98
9  Asia Pacific       Eastern Asia           414   72,805.10  3,15,390.77

In [7]:
df.sample()# gives random dataset

   Market          Region  No_of_Orders    Profit      Sales
3  Africa  Eastern Africa           110  8,013.04  44,182.60

In [8]:
df.sample(5)# can pass how much data we want randomly

          Market           Region  No_of_Orders      Profit        Sales
13        Europe  Northern Europe           367   43,237.44  2,52,969.09
9   Asia Pacific     Eastern Asia           414   72,805.10  3,15,390.77
2         Africa     North Africa           182   21,643.08    86,698.89
5   Asia Pacific     Western Asia           382  -16,766.90  1,24,312.24
4         Africa   Central Africa           103   15,606.30    61,689.99

In [9]:
df.tail()

   Market       Region  No_of_Orders     Profit        Sales
18   USCA   Western US           490  44,303.65  2,51,991.83
19   USCA  Southern US           255  19,991.83  1,48,771.91
20   USCA   Eastern US           443  47,462.04  2,64,973.98
21   USCA   Central US           356  33,697.43  1,70,416.31
22   USCA       Canada            49   7,246.62    26,298.81

In [10]:
df[df.BasePay>10000]

AttributeError: 'DataFrame' object has no attribute 'BasePay'

In [ ]:
a= df[df.BasePay>10000]['EmployeeName']
print(type(a))
a

In [11]:
a= df[df.BasePay>10000][['EmployeeName','Agency','JobTitle']]
print(type(a))
a

AttributeError: 'DataFrame' object has no attribute 'BasePay'

In [12]:
df.JobTitle.value_counts()

AttributeError: 'DataFrame' object has no attribute 'JobTitle'

In [13]:
df.JobTitle.value_counts().count()# no. of jobTitles

AttributeError: 'DataFrame' object has no attribute 'JobTitle'

In [14]:
a= df[(df.JobTitle=='Registered Nurse') & (df.TotalPay>=25000)]
a

AttributeError: 'DataFrame' object has no attribute 'JobTitle'

In [15]:
a= df.sort_values('EmployeeName',ascending=False)
print(type(a))
a

KeyError: 'EmployeeName'

In [16]:
df.Year.value_counts()

AttributeError: 'DataFrame' object has no attribute 'Year'

In [17]:
df[df.Year==2012]

AttributeError: 'DataFrame' object has no attribute 'Year'

In [18]:
df[df.Year.isin([2012])]

AttributeError: 'DataFrame' object has no attribute 'Year'

In [19]:
df.replace(np.nan, 'D')

          Market             Region  No_of_Orders      Profit        Sales
0         Africa     Western Africa           251  -12,901.51    78,476.06
1         Africa    Southern Africa            85   11,768.58    51,319.50
2         Africa       North Africa           182   21,643.08    86,698.89
3         Africa     Eastern Africa           110    8,013.04    44,182.60
4         Africa     Central Africa           103   15,606.30    61,689.99
5   Asia Pacific       Western Asia           382  -16,766.90  1,24,312.24
6   Asia Pacific      Southern Asia           469   67,998.76  3,51,806.60
7   Asia Pacific  Southeastern Asia           533   20,948.84  3,29,751.38
8   Asia Pacific            Oceania           646   54,734.02  4,08,002.98
9   Asia Pacific       Eastern Asia           414   72,805.10  3,15,390.77
10  Asia Pacific       Central Asia            37   -2,649.76     8,190.74
11        Europe     Western Europe           964   82,091.27  6,56,637.14
12        Europe    Southern Europe           338   18,911.49  2,15,703.93
13        Europe    Northern Europe           367   43,237.44  2,52,969.09
14        Europe     Eastern Europe           241   25,050.69  1,08,258.93
15         LATAM      South America           496   12,377.59  2,10,710.49
16         LATAM    Central America           930   74,679.54  4,61,670.28
17         LATAM          Caribbean           288   13,529.59  1,16,333.05
18          USCA         Western US           490   44,303.65  2,51,991.83
19          USCA        Southern US           255   19,991.83  1,48,771.91
20          USCA         Eastern US           443   47,462.04  2,64,973.98
21          USCA         Central US           356   33,697.43  1,70,416.31
22          USCA             Canada            49    7,246.62    26,298.81

In [20]:
round(df['OvertimePay'].isnull().mean()*100,6)

KeyError: 'OvertimePay'

In [23]:
df.drop(df[df.BasePay<1000], inplace=True, axis= 1)